<ul>
<% @articles.each do |article| %>
  <li>
    <h1><%= article.title %></h1>
    <%= markdown article.content %>
    <!--<%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %> -->
    </li>
    <br />
<% end %>
</ul>

<%= link_to 'New Article', new_article_path %>
